<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <label>Age</label>
            <div class="form-group">
                <input formControlName="age" nbInput type="number">
            </div>
            <label>Sexe</label>
            <div class="form-group">
                <nb-checkbox formControlName="sexe"></nb-checkbox>
            </div>
            <div class="form-group">
                <button status="info" nbButton [disabled]="fg.invalid">Calculer</button>  
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <h1>{{ response }}</h1>
        <!-- // ajout commentaire -->
    </nb-card-footer>
</nb-card>
